.homeview{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    
    width: 100%;
    position: relative;
}
.homeview__content{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.homeview__content h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.homeview__content h1{
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
}