.shopland{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.shopland::before{
    
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.897), rgb(0, 0, 0)), url(../../assets/backgrounds/blacktriangle.png);
    /* background:url(../../assets/backgrounds/blacktriangle.png) black; */
    /* z-index: -1; */
    /* filter: hue-rotate(260deg); */
    /* background-color: rgba(0, 0, 0, 0.877); */

}
.shopland-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    position: relative;
  
}
.shopland-heading{
    font-size: 5rem;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    color: rgb(0, 255, 0);
    
    text-shadow: 1px 1px 50px rgba(255, 255, 255, 0.445);
    /* animation: blink 1s infinite; */
}

  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
.shopland-desc{
    font-size: 1.3rem;
    font-family: 'poppins',sans-serif;
    margin-top: 1rem;
    width: 60%;
    line-height: 2;
    text-align: center;
    transition: width .3s ease;
}