.headerl{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 150px;
    color: white;
}
.headerl.shrink{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:#0f0f0f;
    box-shadow: 1px 1px 20px  black;
    /* opacity: .7; */
    z-index: 99;
}
.headerl__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 100%;
}

/* .logo-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 5rem;
    width: 12rem;
    cursor: pointer;
} */
.logo-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    flex-direction: column;
    height: 100%;
    background-color: inherit;
    width: 12rem;
    cursor: pointer;
    transition: background-color .5s ease ;
}
 .logo-sec:hover {
    background-color: rgb(46, 46, 46);
    
}
.logo-sec img{
    filter: brightness(0) invert(1) grayscale(1) brightness(1) saturate(0);
   width: 3rem;
}
.logo-sec h3{
    font-size: .8rem;
    font-weight: 100;
}
.heighticon{
    height: 100%;
}
