.homeviewsection{
    /* background-color: black; */
    width: 100%;
    min-height: 100px;
    /* padding: 2rem 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeviewsection-i{
    width: 100%;
    height: 400px;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeviewsectionsmall{
    width: 100%;
    height: 500px;
    padding: 2rem 0;
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}
.home-view-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.home-view-section-small{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.home-view-section img{
    width: 100%;
}
.home-view-section .img{
    width: 100%;
   flex: 1;
   /* background-color: red; */
}
.home-view-section-small img{
    width: 100%;
}
.home-view-section .home-view-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    /* background-color: blue; */
}
.home-view-section-text-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.home-view-section-text h3{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.home-view-section-text-small h3{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.home-view-section-text h1{
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: capitalize;
}
.home-view-section-text-small h1{
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: capitalize;
}
.home-view-section-text h1{
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: capitalize;
}
.home-view-section-text p{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7;
    text-transform: capitalize;
}
.home-view-section-text-small p{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7;
    text-transform: capitalize;
}
.home-view-section-text .link-section{
    display: flex;
    width: 15rem;
    height: 1.8rem;
    align-items: center;
    justify-content: space-around;
}
.home-view-section-text .link-section .text-color{
    color: yellowgreen;
}
.home-view-section-text-small .link-section .text-color{
    color: white;
    background-color: yellowgreen;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-view-section-text .link-section .line{
    height: 100%;
    width: 1px;
    background-color: yellowgreen;
}