
.shophome{
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    box-shadow: 1px 1px 8px black;
    /* padding: 0 2.5rem; */
    box-sizing: border-box;
}
.home-shop-container{
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    box-sizing: border-box;
}





/*experiment*/ 
.experiment{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.big-box{
    width: 500px;
    height: 500px;
    /* background-color: #202020; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: rotate 10s infinite;
    z-index: 1;
}
.content-exp{
    height: 300px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 2;
    border-radius: 8px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    transition: all .1s ease-in-out;
}
.image{
    flex: 1;
    width: 100%;
}
.descr{
    flex: 1;
}
.content-exp:hover{
    transform-origin: center; /* Set the rotation origin to the left side */
    transform: perspective(1000px) rotateY(-30deg) scale(120%);
}


@keyframes rotate {
    50%{
            transform:translateX(100%) rotate(360deg);
        
    }
}
.circle{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    filter: blur(10rem);
}
.green{
    background: rgb(0, 255, 0);
  
}
.blue{
    background-color: blue;

}
.brown{
    background: brown;
  
}








.home-shop-container:nth-child(2n){
    background:  black;
    flex-direction: row-reverse; 
    position: relative;
}
.home-shop-container:nth-child(2n)::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(circle, rgb(0, 0, 0,0), rgba(0, 0, 0, 0.904), rgba(0, 0, 0)), url(../../assets/backgrounds/coolbg2.png);
    background-size: cover;
    /* opacity: .5; */
    filter: saturate(5) hue-rotate(270deg) brightness(.1);
    background-repeat: no-repeat;
}
.home-shop-container:nth-child(odd) {
    position: relative;
    z-index: 1;
  }
  
  .home-shop-container:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/backgrounds/bluethinsquares.png);
    filter: saturate(5) hue-rotate(270deg) brightness(.2);
    background-size: cover;
    z-index: -2;
    transition: transform 0.5s ease-out;
  }
  .home-shop-container:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #0f0f0f00, #0f0f0f),#0f0f0f;
    opacity: .8;
    
    /* background-image: url(../../assets/backgrounds/bluethinsquares.png); */
    /* filter: saturate(5) hue-rotate(270deg) brightness(1); */
    background-size: cover;/* Adjust the opacity value as needed */
    z-index: -1;
  }
  .home-shop-container.animate-bg::before {
    transform: translateY(-50%); /* Adjust the transformation as needed */
  }


.home-shop-container-left{
flex: 1;
position: relative;
}
.home-shop-container-left img{
    width: 100%;
    /* filter: saturate(1) hue-rotate(270deg) ; */
    display: block;
}
.home-shop-container-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    position: relative;
}
.home-shop-container-right-Heading{
    font-size: 2.5rem;
    font-weight: 300;
}
.home-shop-container-right-bold-heading{
    font-size: 1.0rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
    width: 100%;
    
}
 .seperator{
 width: 1px;
 background-color: white;
}
.home-shop-container-right-text{
    display: flex;
    font-size: .9rem;
    text-align: justify;
    line-height: 1.5;
}
.btn-section-home-sec{
    width: 100%;
    display: flex;
    gap: .8rem;
}
.home-shop-container-right-btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-align: center;
    
}
.home-shop-container-right-btn.full{
    background-color: rgb(139, 206, 38);
    font-size: 1.1rem;
    font-weight: 400;
}
.home-shop-container-right-btn.full:hover{
    background-color: rgb(116, 172, 34);
    
}
.home-shop-container-right-btn.Outlined{
    border: 2px solid rgb(139, 206, 38);
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(139, 206, 38);
}
.home-shop-container-right-btn.Outlined:hover{
  background-color:rgba(147, 219, 39, 0.185);
}
.select-item{
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
  align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: black;
}
.home-shop-container-column-sec{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.home-shop-container-column{
   width: 100%;
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
}
.column-combobox{
    width: 14rem;
    background-color: #0f0f0f;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    box-sizing: border-box;
    position: relative;
}
.arrow{
    /* color: red; */
    transform: rotate(-90deg);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
}
.arrow.active{
    transform: rotate(90deg)
}
.combolist{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6rem;
    background-color: #0f0f0f;
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    transition: all .3s ease;
}
.combolist-active{
opacity: 1;
top: 3rem;
}
.combolist span{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    transition: font-size .2s ease;
    position: relative;
}
.combolist span::after{
    content: "";
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    width: 0%;
    height: 6px;
    transform: translateX(50%);
    background-color: red;
    transition: all .5s ease;
}
.combolist span:hover::after{
width: 100%;
opacity: 1;
/* transform: translateX(50%); */
}
.combolist span:hover{
    background-color: green;
    font-size: 1.2rem;
    font-weight: 700;
}
.column-image-shop{
    width: 100%;
}
.column-heading{
    font-size: 1.1rem;
    font-weight: 600;
    width: 70%;

}
.column-price{
    width: 70%;
    padding-top: 2rem;
}
.column-list{
    width: 80%;
    
    /* text-align: justify; */
}
.column-list-sec{
    display: flex;
}
.column-list-style{
    text-align: justify;
    list-style:disc;

}
.column-list-items{
    width: 100%;
    padding-bottom: .8rem;
    display: flex;
    flex-wrap: wrap;

}
.btn-section-home-sec.column{
    flex-direction: column;
    height: 8rem;
}
.home-shop-container-head{
    font-size: 3rem;
    font-weight: 10px;
    color: greenyellow;
    /* background-color: white; */
    padding: 0 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 30px rgba(153, 205, 50, 0.082);
}