.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home:nth-child(2n){
    /* background-color: black; */
}
.heading{
    padding: 2rem 0;
    text-transform: capitalize;
    font-weight: 500;
}
.whitebg{
    width: 100%;
    height: auto;
    padding: 2rem 0;
   
    background-color: white;
    color: black;
    
}
.whitebg-content{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
}
.line{
    background: blue;
    height: 90%;
    width: 6px;
}
.explore-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    flex: 1;
}

.section-box{
    width: 100%;
}
.section-box:nth-child(2n){
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:;
}
.section-box:nth-child(odd) .homeviewsection .home-view-section{
    
    flex-direction:row-reverse;
}