.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    padding: 2rem 0;
    text-transform: capitalize;
    font-weight: 500;
}
.whitebg{
    width: 100%;
    height: auto;
    padding: 2rem 0;
   
    background-color: white;
    color: black;
    
}
.whitebg-content{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
}
.line{
    background: blue;
    height: 90%;
    width: 6px;
}