.shop{
    width: 100%;
}


.shop-items{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    /* height: 100px; */
}
.right-grid{
    width: 100%;
    /* background-color: white; */
    
    
}
.header-sec-shop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.header-sec-shop span{
    font-size: 3rem;
    padding: 1.5rem;
    text-transform: capitalize;
}
.left-grid{
    /* background-color: red; */
    max-width: 400px;
    padding: 0 15px;
    overflow-y: scroll;
}
.box{
    width: 100%;
    min-height: 50px;
}
.info-top{
    margin: 1rem 0;
}
