@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'monserrat', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.app{
  background-color: #0f0f0f;
  color: white;
}
::-webkit-scrollbar{
  width: 1px;
}
::-webkit-scrollbar-track{
  background-color: rgb(248, 248, 248);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(177, 177, 177);
  border-radius: 8px;
}


.mb-3{
  margin-bottom: 3rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}

.container{
  max-width: 1300px;
  margin: auto;
}
button, input{
  outline: 0;
}
.listing{
  text-decoration: none;
  color: unset;
}

.section{
  padding: .8rem 2rem;
}
.section__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
li{
  list-style: none;
}